<section class="sixth__section">
    <div class="container">
      <div class="section__header">
        <h4 class="top__title">What we do</h4>
        <h2 class="bottom__title">some of our work</h2>
        <div class="section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. </div>
      </div>
    </div>
    <div class="works__wrapper">
      <div class="four__columns">
        <div class="works__item">
          <img class="works__img" src="./img/sixthSection/1cman.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
        <div class="works__item">
          <img class="works__img" src="./img/sixthSection/1gate.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
      </div>
      <div class="four__columns">
        <div class="works__item">
          <img class="works__img" src="./img/sixthSection/2pic.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
        <div class="works__item">
          <img class="works__img" src="./img/sixthSection/2house.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
      </div>
      <div class="four__columns">
        <div class="works__item big__picture">
          <img class="dusa__picture " src="./img/sixthSection/3ds.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
      </div>
      <div class="four__columns">
        <div class="works__item">
          <img class="works__img" src="./img/sixthSection/4pic.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
        <div class="works__item">
          <img class="works__img" src="./img/sixthSection/4house.jpg" alt="">
          <div class="works__content">
            <img src="./img/sixthSection/PICTURE.png" alt="">
            <div class="works__title">creatively designed</div>
            <div class="works__text">Lorem ipsum dolor sit</div>
          </div>
        </div>
      </div>
    </div>
  </section>