<section class="seventh__section">
    <div class="container">
      <div class="section__header">
        <h4 class="top__title">Happy Clients</h4>
        <h2 class="bottom__title">What people say</h2>
      </div>
      <div class="reviews">
        <div class="clients__reviews">
          <img class="clients__photo" src="./img/seventhSection/mat.png" alt="">
          <div class="client_info">
            <div class="client__name">Matthew Dix</div>
            <div class="client__work">Graphic Design</div>
            <div class="client__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
          </div>
        </div>
        <div class="clients__reviews">
          <img class="clients__photo" src="./img/seventhSection/nick.png" alt="">
          <div class="client_info">
            <div class="client__name">Matthew Dix</div>
            <div class="client__work">Graphic Design</div>
            <div class="client__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
          </div>
        </div>
        <div class="clients__reviews">
          <img class="clients__photo" src="./img/seventhSection/jae.png" alt="">
          <div class="client_info">
            <div class="client__name">Matthew Dix</div>
            <div class="client__work">Graphic Design</div>
            <div class="client__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
          </div>
        </div>
        <div class="clients__reviews">
          <img class="clients__photo" src="./img/seventhSection/mike.png" alt="">
          <div class="client_info">
            <div class="client__name">Matthew Dix</div>
            <div class="client__work">Graphic Design</div>
            <div class="client__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
          </div>
        </div>
      </div>
    </div>
  </section>