<section class="second__section">
    <div class="container">
      <div class="section__header">
        <h4 class="top__title">We work with</h4>
        <h2 class="bottom__title">Amazing Services</h2>
      </div>
      <div class="second__section___footer">
        <div class="items___services">
          <div class="all___service">
            <img class="service__img" src="./img/secondSection/ALARM.png" alt="">
            <div class="service__wrapper">
              <div class="service__headers">Photography</div>
              <p class="service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <div class="all___service">
            <img class="service__img" src="./img/secondSection/LINE_GRAPH.png" alt="">
            <div class="service__wrapper">
              <div class="service__headers">Web Design</div>
              <p class="service__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </div>
            </p>
          </div>
          <div class="all___service">
            <img class="service__img" src="./img/secondSection/_OK.png" alt="">
            <div class="service__wrapper">
              <div class="service__headers">Creativity</div>
              <p class="service__text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </div>
            </p>
          </div>

        </div>
        <div class="after__line"></div>
        <div class="items___services">
          <div class="all___service">
            <img class="service__img" src="./img/secondSection/BOOK_2.png" alt="">
            <div class="service__wrapper">
              <div class="service__headers">seo</div>
              <p class="service__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              </p>
            </div>
          </div>
          <div class="all___service">
            <img class="service__img" src="./img/secondSection/HOME.png" alt="">
            <div class="service__wrapper">
              <div class="service__headers">Css/Html</div>
              <p class="service__text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.
            </div>
            </p>
          </div>
          <div class="all___service">
            <img class="service__img" src="./img/secondSection/IMAGE.png" alt="">
            <div class="service__wrapper">
              <div class="service__headers">digital</div>
              <p class="service__text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>