<div class="statistics">
    <div class="container">
      <div class="stat__items">
        <div class="statistic_colomns">
          <div class="statistic__numbers">42</div>
          <div class="statistic__text">Web Design Projects</div>
        </div>
        <div class="statistic_colomns">
          <div class="statistic__numbers">123</div>
          <div class="statistic__text">happy client</div>
        </div>
        <div class="statistic_colomns">
          <div class="statistic__numbers">15</div>
          <div class="statistic__text">award winner</div>
        </div>
        <div class="statistic_colomns">
          <div class="statistic__numbers">99</div>
          <div class="statistic__text">cup of coffee</div>
        </div>
        <div class="statistic_colomns">
          <div class="statistic__numbers">24</div>
          <div class="statistic__text">members</div>
        </div>
      </div>
    </div>
  </div>