<footer class="footer">
    <div class="container">
      <div class="footer__content">
        <div class="footer__forms">
          <h2 class="footer_logo">MoGo</h2>
          <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="follow">15k <span class="followers">followers</span></div>
          <div class="follow__us">Follow Us:
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/facebook1.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/twitter.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/instagram.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/pinterest.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/google_plus.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/youtube.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/dribbble.svg" alt="">
            </a>
            <a class="follow__link" href="#" target="_blank">
              <img class="follow__img" src="./img/footer/followus/tumblr.svg" alt="">
            </a>
          </div>
          <form action="#" method="POST">
            <input class="email__input" type="email" name="Email" placeholder="Your Email...">
            <button class="email__submit" type="submit">Subscribe</button>
          </form>
        </div>
        <div class="footer__inst">
          <h5 class="inst__title">Instagram</h5>
          <div class="inst__photo">
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/11.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/22.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/33.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/44.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/55.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/66.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/77.jpg" alt="">
            </a>
            <a class="inst__item" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/88.jpg" alt="">
            </a>
            <a class="inst__item last__inst" href="#" target="_blank">
              <img class="inst__img" src="./img/footer/99.jpg" alt="">
            </a>
          </div>
          <a class="view__photo" href="#" target="_blank">View more photos</a>
        </div>
      </div>
      <div class="shape"></div>
      <div class="copyright">
        © 2016 MoGo free PSD template by <span>Laaqiq</span>
      </div>
    </div>
  </footer>