/*Footer*/

.footer {
    padding-top: 75px;
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__forms {
    width: 60%;
}
.footer__inst {
    width: 30%;
}
.footer_logo {
    color: #cccccc;
    font-size: 46px;
    font-weight: 700;
}
.footer__text {
    max-width: 460px;
    margin-top: 30px;
    color: #999999;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
}
.follow {
    margin-top: 50px;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}
.follow::after {
    content: " ";
    display: block;
    max-width: 480px;
    height: 1px;
    background-color: #e5e5e5;
    margin: 15px 0;
}
.followers {
    font-size: 14px;
    font-weight: 400;
}
.follow__us {
    color: #999;
    font-family: "Roboto Light";
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 30px;
}
.follow__link {
    text-decoration: none;
}
.follow__img {
    padding: 0 10px;
}
.follow__img:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.2 linear;
}
.email__input {
    font-family: "Roboto Light";
    font-style: italic;
    font-size: 15px;
    color: #333333;
    padding: 10px 140px 10px 10px;
    border: 1px solid #e7e7e7;
    outline: 0;
}
.email__input::placeholder {
    font-family: "Roboto Light";
    font-style: italic;
    font-size: 15px;
    color: #cccccc;
}
.email__submit {
    cursor: pointer;
    margin-left: -5px;
    background-color: #95e1d3;
    padding: 11px 35px;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.inst__title {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.inst__photo {
    display: flex;
    flex-wrap: wrap;
    max-width: 270px;
}
.inst__item {
    flex: 1 1 0;
}
.inst__item:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.2 linear;
}
.view__photo {
    text-decoration: none;
    font-family: "Roboto";
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #333333;
    line-height: 40px;
}
.shape {
    margin-top: 60px;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
.copyright {
    text-align: center;
    padding: 25px 0;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
.copyright span {
    color: #f38181;
}

/*Media*/
@media screen and (max-height:830px){
    .last__inst {
        display: none;
    }
    .footer__inst {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .footer__content {
        flex-wrap: wrap;
    }
    .footer__text {
        text-align: center;
    }
    .footer__forms {
        width: 80%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
    }
    .footer__inst {
        margin-top: 30px;
        width: 80%;
        text-align: center;
    }
    .inst__photo {
        margin: 0 auto;
    }
}
@media screen and (max-width: 580px) {
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .email__submit {
        font-size: 12px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 425px) {
    .follow__us {
        text-align: center;
    }
    .footer__text {
        font-size: 13px;
        line-height: 20px;
    }
    .email__input {
        padding: 10px 100px 10px 10px;
        &::placeholder {
            font-size: 13px;
        }
    }
}
@media screen and (max-width: 320px), screen and (max-height: 375px) {
    .email__input {
        padding: 10px 50px 10px 10px;
        &::placeholder {
            font-size: 13px;
        }
    }
    .last__inst {
        display: none;
    }
    .footer__inst {
        text-align: center;
    }
}
