<section class="first__section">
    <div class="container">
      <div class="section__header">
        <h4 class="top__title">What we do</h4>
        <h2 class="bottom__title">Story about us</h2>
        <div class="section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. </div>
      </div>
      <div class="section__footer">
        <div class="items">
          <div class="items__img">
            <img class="three_layers" src="./img/firstSection/Layer_44.jpg" alt="">
            <div class="super__team">
              <img class="super__img" src="./img/firstSection/USERS.png" alt="">
              <div class="super__text">super team</div>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="items__img">
            <img class="three_layers" src="./img/firstSection/Layer_39.jpg" alt="">
            <div class="super__team">
              <img class="super__img" src="./img/firstSection/USERS.png" alt="">
              <div class="super__text">super team</div>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="items__img">
            <img class="three_layers" src="./img/firstSection/Layer_41.jpg" alt="">
            <div class="super__team">
              <img class="super__img" src="./img/firstSection/USERS.png" alt="">
              <div class="super__text">super team</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>