<div class="intro__page">
    <div class="container intro">
      <header class="header">
        <h1 class="mogo__logo">MoGo</h1>
        <div class="burger">
          <input id="toggle" type="checkbox">
          <label class="toggle__container" for="toggle">
            <div class="toggle__line"></div>
          </label>
          <nav class="nav">
            <ul>
              <li data-target="first__section" class="mogo__nav">about</li>
              <li data-target="second__section" class="mogo__nav">service</li>
              <li data-target="sixth__section" class="mogo__nav">works</li>
              <li data-target="eighth__section" class="mogo__nav">blog</li>
              <li data-target="footer" class="mogo__nav">contact</li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="intro__titles">
        <h2 class="creative__title">Creative Template</h2>
        <h1 class="welcome__title">Welcome to MoGo</h1>
        <a class="learn_button" href="#">Learn more</a>
      </div>
    </div>
  </div>