<div class="second__slider">
    <div class="container">
      <div class="slider">
        <div class="slider__item">
          <img class="second__slider__img" src="./img/slider/Layer_36.png" alt="">
          <div class="slider__content">
            <p class="slider__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
            <h3 class="slider__name">Jon Doe</h3>
          </div>
        </div>
        <div class="slider__item">
          <img class="second__slider__img" src="./img/slider/Layer_36.png" alt="">
          <div class="slider__content">
            <p class="slider__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
            <h3 class="slider__name">Joshua Earle</h3>
          </div>
        </div>
      </div>
    </div>
  </div>