<section class="eighth__section">
    <div class="container">
      <div class="section__header">
        <h4 class="top__title">Our stories</h4>
        <h2 class="bottom__title">Latest blog</h2>
      </div>
      <div class="blogs">
        <div class="blog__item">
          <div class="blog__header">
            <a href="#" target="_blank"><img class="blog__img" src="./img/eighthSection/1blog.jpg" alt=""></a>
            <div class="date__block">15 <span class="date__month">Jan</span></div>
          </div>
          <div class="blog__content">
            <div class="blog__title">Lorem ipsum dolor sit amet</div>
            <div class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</div>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__header">
            <a href="#" target="_blank"><img class="blog__img" src="./img/eighthSection/2blog.jpg" alt=""></a>
            <div class="date__block">14<span class="date__month">Jan</span></div>
          </div>
          <div class="blog__content">
            <div class="blog__title">sed do eiusmod tempor</div>
            <div class="blog__text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__header">
            <a href="#" target="_blank"><img class="blog__img" src="./img/eighthSection/3blog.jpg" alt=""></a>
            <div class="date__block">12<span class="date__month">Jan</span></div>
          </div>
          <div class="blog__content">
            <div class="blog__title">incididunt ut labore et dolore</div>
            <div class="blog__text">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
      </div>
    </div>
  </section>