<section class="forth__section">
    <div class="container">
      <div class="section__header">
        <h4 class="top__title">Service</h4>
        <h2 class="bottom__title">what we do</h2>
        <div class="section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. </div>
      </div>
      <div class="what_we__do">
        <div class="blond_man__img">
          <img class="forth__man" src="./img/forthSection/forthman.jpg" alt="">
        </div>
        <div class="accordion">
          <div class="accrodion__wrapper">
            <input id="accordion" class="accordion__status" type="checkbox">
            <label for="accordion" class="accordion__opener">
              <img class="accordion__icon" src="./img/forthSection/PICTURE.png" alt="">
              Photography
            </label>
            <div class="accordion__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </div>
          </div>
          <div class="accrodion__wrapper">
            <input id="accordion_1" class="accordion__status" type="checkbox">
            <label for="accordion_1" class="accordion__opener">
              <img class="accordion__icon" src="./img/forthSection/EQUALIZER.png" alt="">
              creativity
            </label>
            <div class="accordion__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </div>
          </div>
          <div class="accrodion__wrapper">
            <input id="accordion_2" class="accordion__status" type="checkbox">
            <label for="accordion_2" class="accordion__opener">
              <img class="accordion__icon" src="./img/forthSection/BULLSEYE.png" alt="">
              web design
            </label>
            <div class="accordion__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>