/*Maps*/

.maps__wrapper {
    background: #f8f8f8;
}

.maps_accordion__status {
    display: none;
}
.maps_accordion__icon {
    margin-bottom: 20px;
}
.maps_accordion__opener {
    cursor: pointer;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.maps_accordion__opener::after {
    content: " ";
    display: block;
    max-width: 60px;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    margin-top: 20px;
}
#map {
    width: 100%;
    height: auto;
}
.maps_accordion__status ~ #map {
    height: 0px;
    transition: height 0.2s linear;
}
.maps_accordion__status:checked ~ #map {
    height: 500px;
    transition: height 0.2s linear;
}
